<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title><img src="assets/HorizontalMedStarLogo.png" id="img2"></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-item [routerLink]="['/doctors']" class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Orthopedic</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Gynaecologist</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Cardiologist</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Endocrinologist</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Neurologist</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Cardiothoracic surgeon</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Dentist</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Pulmonologist</ion-label>
        </ion-item>
    </ion-card>
</ion-content>
