<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title><img src="assets/HorizontalMedStarLogo.png" id="img2"></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <p><b>Products</b></p>
    <ion-card>
        <ion-item [routerLink]="['/all-product-types']" class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>All Medic Products</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Capsules</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Inhalers</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Tablet</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Liquids</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Injections</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Drops</ion-label>
        </ion-item>
    </ion-card>
    <ion-card>
        <ion-item class="activated">
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
            <ion-label>Topical medicines</ion-label>
        </ion-item>
    </ion-card>
</ion-content>
