ion-content {
    --background: rgb(250, 250, 250);
}

p {
    margin-left: 15px;
    font-size: 22px;
}

ion-card {
    --background: white;
    border-radius: 8px;
    p {
        font-size: 16px;
    }
}
